body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    height: 100vh;
}

.profile-picture {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: inline-block;
}

.nav-link {
    font-size: 1.1rem;
}

.card {
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    
}

.card h5 {
    font-size: 1.25rem;
}

.badge {
    font-size: 0.9rem;
    padding: 0.5rem rem;
}

.nav-hover {
    color: blue; 
    background-color: white;
}

.deskripsi-content {
    text-align: justify;
}

.table-container {
    padding: 2rem;
}

.alert {
    text-align: center;
}

