/* Sidebar */
.custom-sidebar {
  background-color: #5d9c59;
  position: fixed;
  top: 60px; /* Height of header */
  left: 0;
  width: 240px;
  height: calc(100vh - 60px); /* Fill the remaining height below header */
  overflow-y: auto;
  z-index: 999;
}

.custom-sidebar ul.nav li.nav-item a.nav-link {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-sidebar ul.nav li.nav-item a.nav-link:hover {
  background-color: #495057;
}

/* Header */
.custom-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(219, 219, 219, 1); /* Adjust color */
  padding: 10px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

/* Main content */
.main-content {
  margin-left: 240px; /* Sidebar width */
  margin-top: 60px; /* Height of header */
  padding-top: 20px;
  /* margin-right: 8px; */
  padding-bottom: 80px; /* Space at the bottom for footer */
  overflow-x: auto;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.custom-header img {
  width: 37px; /* Smaller logo size */
  margin-right: 10px;
}

.custom-header h6,
.custom-header small {
  margin: 0;
}

/* Footer */
footer {
  position: relative;
  background-color: rgba(219, 219, 219, 1);
  padding: 10px 0;
  border-top: 1px solid #ccc !important;
  z-index: 100 !important;
  margin-left: 240px; /* Align footer below the sidebar */
  margin-top: 20px;
}

.footer-text {
  text-align: center;
  font-size: 0.8rem;
}