.custom-sidebar {
  background-color: #5d9c59;
}

.custom-header {
  background-color: rgba(219, 219, 219, 1) !important; /* Warna abu */
  font-size: 14px; /* Ukuran font kecil */
  padding: 20px 15px; /* Padding kecil */
  border-bottom: 1px solid #ddd; /* Garis bawah */
}

.custom-header img {
  width: 37px; /* Ukuran logo lebih kecil */
  margin-right: 10px;
}

.custom-header h6,
.custom-header small {
  margin: 0;
}

footer {
  position: relative !important; /* Mengubah dari default */
  width: 100% !important;
  background-color: rgba(219, 219, 219, 1) !important;
  padding: 10px 0 !important;
  border-top: 1px solid #ccc !important;
  z-index: 100 !important;
  /* Menghapus margin-top yang menyebabkan jarak */
  /* margin-top: 100px; */
}

.footer-text {
  text-align: center !important;
  font-size: 0.8rem !important;
  text-align: center;
}
