/* Global Styles */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    position: relative; /* Mengatur posisi relatif agar elemen lain bisa berada di atas slideshow */
}

/* Register Container */
.register-container {
    position: absolute;
    z-index: 1; /* Agar form register berada di atas slideshow */
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.register-container h1 {
    color: #4caf50;
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center; 
}

/* Form Input Styles */
.register-container .form-control {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    text-align: left;
}

.form-label {
    color: #151515;
}

/* Button Styles */
.register-container .btn-primary {
    background-color: #4caf50;
    border: none;
    transition: background 0.3s ease;
}

.register-container .btn-primary:hover {
    background-color: #388e3c;
}

/* Link Styles */
.register-container a {
    display: block;
    margin-top: 15px;
    color: #0077BE;
    text-decoration: none;
    font-size: 14px;
    text-align: center; 
}

.register-container a:hover {
    text-decoration: underline;
}

.slideshow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Agar form berada di atas slideshow */
    overflow: hidden; /* agar tidak ada gambar yg keluar dari container */
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySlides {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1 ease;
}

.fade {
    animation-name: fade;
    animation-duration: 0.7
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}